<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity android:name=".group.DeleteGroupMemberActivity" android:exported="false" />
        <activity android:name=".group.manage.GroupAvatarActivity" android:exported="false" />
        <activity android:name=".group.manage.GroupBlacklistActivity" android:exported="false" />
        <activity android:name=".group.manage.GroupForbiddenDurationActivity" android:exported="false" />
        <activity android:name=".group.manage.GroupManageMemberSelectActivity" android:exported="false" />
        <activity android:name=".group.manage.GroupManagerActivity" android:exported="false" />
        <activity
            android:name=".group.GroupNoticeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".group.GroupDetailActivity" android:exported="false" />
        <activity android:name=".group.SavedGroupsActivity" android:exported="false" />
        <activity android:name=".group.UpdateGroupNameActivity" android:exported="false" />
        <activity
            android:name=".chat.ChooseChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".search.SearchUserActivity" android:exported="false" />
        <activity android:name=".chat.ChatPersonalActivity" android:exported="false" />
        <activity
            android:name=".contacts.ChooseContactsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".contacts.NewFriendsActivity" android:exported="false" />
        <activity android:name=".contacts.label.LabelListActivity" android:exported="false" />
        <activity android:name=".contacts.label.LabelEditActivity" android:exported="false" />
        <activity android:name=".favorite.FavoriteListActivity" android:exported="false" />
        <activity android:name=".favorite.FavoriteDetailActivity" android:exported="false" />
        <activity android:name=".setting.SecurityPrivacyActivity" android:exported="false" />
        <activity
            android:name=".setting.ChatPwdSettingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".setting.LockScreenPasswordActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".setting.LockScreenPwdSettingActivity" android:exported="false" />
        <activity
            android:name=".setting.OfflineProtectionActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".setting.DeviceLockActivity" android:exported="false" />
        <activity android:name=".setting.BlacklistActivity" android:exported="false" />
        <activity android:name=".setting.DestroyAccountActivity" android:exported="false" />
        <activity android:name=".setting.DestroyAccountVerifyActivity" android:exported="false" />
        <activity android:name=".setting.SettingActivity" android:exported="false" />
        <activity android:name=".group.GroupQrActivity" android:exported="false" />
        <activity android:name=".search.SearchAllActivity" android:exported="false" />
        <activity android:name=".user.MyInfoActivity" android:exported="false" />
        <activity android:name=".user.UserQrActivity" android:exported="false" />
        <activity android:name=".user.MyHeadPortraitActivity" android:exported="false" />
        <activity android:name=".setting.MsgNoticesSettingActivity" android:exported="false" />
        <activity
            android:name=".user.UserDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity android:name=".user.UpdateUserInfoActivity" android:exported="false" />
        <activity android:name=".user.SetUserRemarkActivity" android:exported="false" />
        <activity android:name=".search.AddFriendsActivity" android:exported="false" />
        <activity android:name=".chat.PreviewNewImgActivity" android:exported="false" />
        <activity android:name=".search.SearchMsgResultActivity" android:exported="false" />
        <activity android:name=".chat.ChatMultiForwardDetailActivity" android:exported="false" />
        <activity android:name=".chat.file.RecentFileActivity" android:exported="false" />
        <activity android:name=".chat.file.FileDetailActivity" android:exported="false" />
        <activity android:name=".setting.WKThemeSettingActivity" android:exported="false" />
        <activity android:name=".setting.WKLanguageActivity" android:exported="false" />
        <activity android:name=".group.WKAllMembersActivity" android:exported="false" />
        <activity android:name=".user.WKFileHelperActivity" android:exported="false" />
        <activity android:name=".user.WKSystemTeamActivity" android:exported="false" />
        <activity android:name=".group.WKSetGroupRemarkActivity" android:exported="false" />
        <activity android:name=".setting.WKSetFontSizeActivity" android:exported="false" />
        <activity
            android:name=".group.ChooseVideoCallMembersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".setting.WKAboutActivity" android:exported="false" />

        <activity android:name=".search.MailListActivity" android:exported="false" />
        <activity android:name=".message.BackupRestoreMessageActivity" android:exported="false" />
        <activity android:name=".setting.AppModulesActivity" android:exported="false" />
        <activity android:name=".setting.ErrorLogsActivity" android:exported="false" />
        <activity
            android:name="com.chat.uikit.TabActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"/>
        <activity android:name="com.chat.uikit.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.chat.uikit.search.remote.GlobalActivity" android:exported="false" />
        <activity android:name="com.chat.uikit.chat.search.MessageRecordActivity" android:exported="false" />
        <activity android:name="com.chat.uikit.chat.search.member.SearchWithMemberActivity" android:exported="false" />
        <activity android:name="com.chat.uikit.chat.search.date.SearchWithDateActivity" android:exported="false" />
        <activity android:name="com.chat.uikit.chat.search.image.SearchWithImgActivity" android:exported="false" />

        <service
            android:name="com.chat.uikit.AliveJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
